.BankInterfaceSignIn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  .BankInterfaceSignInPageHeader {
    color: white;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1vh 5vw;
    box-shadow: 0 2px 8px white;
    .SignInPageHeaderLogotypeContent {
      display: flex;
      width: max-content;
      cursor: pointer;
      .BankSignInInterfaceHeaderLogotype {
        width: 100px;
        user-select: none;
      }
      .BankInterfaceSignInPageHeaderTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .BankSignInHeaderContent {
      justify-content: center;
      border: 0.25vh solid white;
      cursor: pointer;
      font-size: 1.25rem;
      padding: 0.5em 1.5em;
      border-radius: 1vh;
      text-decoration: none;
      color: white;
      transition: 0.5s;
      &:hover {
        box-shadow: 0vh 0vh 3vh white;
      }
    }
  }
  .BankInterfaceSignInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 3vw;
    background: black;
    box-shadow: 0 2px 8px white;
    border-radius: 2vh;
    margin: auto;
    .BankInterfaceSignInFormTitle {
      color: white;
      margin-bottom: 4vh;
      font-size: 2rem;
      font-weight: bold;
    }
    .BankInterfaceSignInFormLogin,
    .BankInterfaceSignInFormPassword {
      text-align: center;
      margin-bottom: 1vh;
      padding: 1.5vh 5vh;
      background: white;
      color: black;
      outline: none;
      border: none;
      border-radius: 2vh;
      transition: 0.5s;
      &:focus {
        box-shadow: 0vh 0vh 3vh white;
      }
    }
    .BankInterfaceSignInFormButton {
      text-align: center;
      margin-bottom: 1vh;
      padding: 1.5vh 5vh;
      background: white;
      color: black;
      outline: none;
      border: none;
      border-radius: 2vh;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        box-shadow: 0vh 0vh 3vh white;
      }
    }
  }
}
